# Canteen-hosted Arc Testnet RPC URL
NEXT_PUBLIC_ARC_RPC_URL=

# Privy App ID for wallet connections
NEXT_PUBLIC_PRIVY_APP_ID=

NEXT_PUBLIC_ARC_EXPLORER=https://testnet.arcscan.app
# Smart Contract Addresses (Arc L1 Testnet)
NEXT_PUBLIC_USDC_ADDRESS=0x3600000000000000000000000000000000000000
NEXT_PUBLIC_AFROMEET_NFT_ADDRESS=0xef0eE06EBfB7536DfCe6Db0c83Aa460Ef3eD8322
NEXT_PUBLIC_SPLIT_RESOLVER_ADDRESS=0x49fa30F9BE0158cE135fa42D390AD4664362ff9A
NEXT_PUBLIC_MARKETPLACE_ADDRESS=0x254E7A6971DfDd5bcD04F7a4A8fc541a35b6bdE2
NEXT_PUBLIC_FRACTIONAL_VAULT_FACTORY_ADDRESS=0x93B67Ae7c49e57A1c2C1b014F6DB31180699573c

# Claude Patron Agent Wallet Address
NEXT_PUBLIC_AGENT_ADDRESS=0xf99337df8acbdce3221372ea41610d38b54ca33f

# NestJS Backend API URL
NEXT_PUBLIC_BACKEND_URL=http://localhost:3000
